body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar{
    background: #0E0004;
}
.nav-link{
    color:#fff;
    cursor: pointer;
}
.title{
    color:rgb(218, 49, 181);
    justify-content: center;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: #b91374;
}
.navbar-collapse{
    justify-content: left;
}
.header{
    background-image: url('MacBook wallpaper.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0,0.6);
}
.description{
    left: 50%;
    position: absolute;
    top :45%;
    transform: translate(-50%,-55%);
    text-align: center;
}
.description h1{
    color: #D6DBB2;
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 325%;

}
.description button{
    border: 1px solid #A3B18A;
    background: #A4B494;
    border-radius: 50px 20px;
    color: #344E41;
    
}
.description button:hover{
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
.features{
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title{
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img{
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;

}
.pic{
    max-width: 100%;
    max-height: auto;
}
.background{
    background-color: #000;
}