body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar{
    background: #0E0004;
}
.nav-link{
    color:#fff;
    cursor: pointer;
}
.title{
    color:rgb(218, 49, 181);
    justify-content: center;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: #b91374;
}
.navbar-collapse{
    justify-content: left;
}
.header{
    background-image: url('MacBook wallpaper.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgb(0,0,0,0.6);
}
.description{
    left: 50%;
    position: absolute;
    top :45%;
    transform: translate(-50%,-55%);
    text-align: center;
}
.description h1{
    color: #D6DBB2;
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 325%;

}
